
<footer id="footer">
 
  <div class="outer">
    <div id="footer-info">
	  <br>
	  <div class="footer-center">
	    <i class="fa fa-file-word-o" aria-hidden="true"></i>
		<span> <%=site.posts.length%> 篇</span>
		<span class="post-meta-divider">|</span>
		<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
		<span> <span class="post-count"><%= totalcount(site, '0,0.0a') %></span></span>
      </div>
	  
	  <!-- 添加不蒜子统计 -->
      <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
	  <% if (theme.footer && theme.footer.show_busuanzi){ %>
		<span id="busuanzi_container_site_pv" style='display:none'>
	      <i class="fa fa-bus" aria-hidden="true"></i>
		  <span> <span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-spin"></i></span> 次</span>
		  <span class="post-meta-divider">|</span>
		  <i class="fa fa-user" aria-hidden="true"></i>
		  <span> <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-spin"></i></span> 人</span>
		</span>
	  <% } %>
	  <!-- 添加不蒜子统计结束 -->
	  
	  <!-- 网站运行时间 -->
	  <% if (theme.footer && theme.footer.show_create_time){ %> 
		  <div>
		    <i class="fa fa-flag" aria-hidden="true"></i>
			<span id="timeDate">这里自动载入天数</span><span id="times">这里自动载入时分秒</span>
		  <div>
		  <script>
			var now = new Date(); 
			function createtime() { 
				var grt= new Date('<%= theme.footer.create_time %>');//此处修改为网站上线时间 
				now.setTime(now.getTime()+250); 
				days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days); 
				hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours); 
				if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum); 
				mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;} 
				seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum); 
				snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;} 
				document.getElementById("timeDate").innerHTML = "本站已安全运行 "+dnum+" 天 "; 
				document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒"; 
			} 
			setInterval("createtime()",250);
		  </script>
	  <% } %>
	  <!-- 网站运行时间结束 -->
      
	  <!-- 备案信息 -->
      <div class="footer-center">
	    <i class="fa fa-copyright" aria-hidden="true"></i> 
		<!-- &copy; -->
        <%= theme.footer.create_year %>-<%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
		<% if (theme.footer.icp){ %> 
		  <span class="post-meta-divider">|</span>
		  <a style="color:#1A1A1A" target="_blank" rel="noopener" href="http://beian.miit.gov.cn/"><%=theme.footer.icp%></a>
		<% } %>
      </div>
	  <!-- 备案信息结束 -->
	   
	  <!-- 主题信息 -->
	  <% if (theme.footer.theme_info){ %> 
	  <div class="footer-center">
		<span>由</span>
		<a href="http://hexo.io/" target="_blank" rel="external nofollow">Hexo</a>
		<span>强力驱动</span>
		<span class="post-meta-divider">|</span>
		<span>主题</span>
		<a href="https://github.com/jackhanyuan/hexo-theme-new-yilia" target="_blank" rel="external nofollow">new-yilia</a>
	  </div>
	  <% } %>
	  <!-- 主题信息结束 -->
	  
	  <!-- 又拍云支持 -->
	  <% if (theme.footer.youpaiyun){ %> 
	  <div class="footer-support">
	    <span>本网站由</span>
		<a style="margin: .2rem;" href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="blank" title="又拍云" rel="external nofollow">
		  <img height="30" src="https://qiniu.findn.cn/blog/photos/static/youpaiyun.png" alt="又拍云">
		</a>
		<span>提供 CDN 加速</span>
	  </div>
	  <% } %>
	  <!-- 又拍云支持结束 -->
	 
    </div>
  </div>
  
</footer>


